# build output
dist/

# dependencies
node_modules/

# challange files
news-homepage-main/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# temp files



# environment variables
.env
.env.production

# macOS specific files
.DS_Store

